@import url();

/* --------------RESEt-------------- */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     */
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea {
    font: inherit; 
}

/* Global styles */
body {
    font-family: Calibri, sans-serif;
    line-height: 1.5;
}

/* || VArIABLES */



    :root {

        /* COLOUR PALETTE:  */
        --COLOR-ONE: #f07575;
        --COLOR-TWO: #ecc2c2;
        --COLOR-THREE: #f5d5d5;
        --COLOR-FOUR: #eca3a3;
        --COLOR-FIVE: #f7b3b3;
        --COLOR-SIX: #833434;
        --COLOR-SEVEN: #333;
        

        --COLOR-TEXT: #000;
        --COLOR-TEXT2: #fff;

        .dark-mode {
            --COLOR-ONE: #5a99e2;
            --COLOR-TWO: #97cceb;
            --COLOR-THREE: #f5d5f0;
            --COLOR-FOUR: #a3cbec;
            --COLOR-FIVE: #d2f7b3;
            --COLOR-SIX: #b061f1;
            --COLOR-SEVEN: #333333;
          }
    
        /* FONT FAMILIES */
    
        --FONT-FAMILY-TITLE: Cambria, serif;
        --FONT-FAMILY-H1: Cambria, serif;
        --FONT-FAMILY-TEXT: Roboto, serif;
    
    }



  /* || UTILITY CLASSES */


