/* Header styles */
header {
    background-color: var(--COLOR-ONE);
    color: #fff;
    padding: 20px;
    height: 100px;
    display: flex;
}

/* Nav bar */

.logo {
    font-size: 44px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

nav {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* padding: 20px; */
}

.logo {
    font-size: 24px;
    font-weight: bold;
    /* margin-left: auto; */
}

ul {
    display: flex;
    list-style: none;
    margin-left: auto;
    padding: 10px; 
}

ul li {
    margin-left: 15px;
}

ul li a {
    text-decoration: none;
    color: var(--COLOR-TEXT);
}

#colorButton {
    padding: 1px;
    margin-left: 12px;
    background-color: var(--COLOR-TWO);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}





/* Hero section styles */

.hero {

    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)), url('images/georgia-de-lotz-juQWcOiuuPE-unsplash.jpg');

    background-size: cover;
    background-position: center;
    color: var(--COLOR-TWO);
    text-align: center;
    padding: 100px 0;

    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 48px;
    margin: 0;
}

@media (max-width: 768px) {
    .hero {
        height: 50vh;
    }
}

/* About section styles */

.about {
    padding: 40px;
    background-color: var(--COLOR-THREE);
}

/* Main services section styles */

.services {
    background-color: var(--COLOR-FOUR);
    padding: 40px;
}

.services h2 {
    margin-top: 0;
}



.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 30%;
    background-color: var(--COLOR-FIVE);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}



@media (max-width: 768px) {
    .card {
        width: 100%;
    }
}




/* Rates section styles */

.rates {
    background-color: var(--COLOR-ONE);
    padding: 40px;
}

.rates h2 {
    margin-top: 0;
}



/* Contact section styles */
.contact {
    background-color: var(--COLOR-SIX);
    color: var(--COLOR-TEXT2);
    padding: 40px;
    text-align: center;
}

/* Footer styles */
footer {
    background-color: var(--COLOR-SEVEN);
    color: #fff;
    padding: 20px;
    text-align: center;
}