/* Header styles */
header {
    background-color: var(--COLOR-ONE);
    color: #fff;
    padding: 20px;
    height: 100px;
    display: flex;
}

/* Nav bar */

.logo {
    font-size: 50px;
    font-family: cursive, sans-serif;
    font-weight: bold;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}

nav {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* padding: 20px; */
}


ul {
    display: flex;
    list-style: none;
    margin-left: auto;
    padding: 15px;
    align-items: center;
}

ul li {
    margin-left: 15px;
}

ul li a {
    text-decoration: none;
    color: var(--COLOR-TEXT);
    /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);    */
    font-size: 1.1rem;
    padding: 10px;
    font-family: Roboto, sans-serif;
}

#colorButton {
    padding: 5px;
    margin-left: 12px;
    background-color: var(--COLOR-TWO);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);    */
}


@media (max-width: 768px) {
    header {
        height: 160px;
        padding: 10px;
    }

    nav {
        flex-direction: column;
    }

    .logo {
        margin-bottom: 5px;
    }

    ul {
        flex-direction: row;
        justify-content: center;
        padding: 10px;
        margin: 0;
    }

    ul li a {
        padding: 15px;
    }

    .hamburger-container {
        display: none
    }
}

@media (max-width: 600px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
    }

    nav {
        display: flex;
        flex-direction: row;
    }

    .logo {
        font-size: 40px;
    }

    .logo-container {
        order: 1;
        margin-left: 12px;
        /* Move logo container to the left */
    }

    .hamburger-container {
        display: block;
        order: 3;
        margin-right: 12px;
        /* Move hamburger container to the right */
    }

    .menu {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        flex-direction: column;
        align-items: flex-end;
        padding: 15px;
        background-color: var(--COLOR-FIVE);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .show {
        display: flex;
    }

    .hamburger {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
        padding: 5px;
    }

    .hamburger-icon {
        display: block;
        width: 20px;
        height: 2px;
        background-color: #000;
        position: relative;
        transition: background-color 0.3s ease;
    }

    .hamburger-icon:before,
    .hamburger-icon:after {
        content: '';
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: #000;
        transition: transform 0.3s ease;
    }

    .hamburger-icon:before {
        top: -6px;
    }

    .hamburger-icon:after {
        top: 6px;
    }

    .show .hamburger-icon {
        background-color: transparent;
    }

    .show .hamburger-icon:before {
        transform: translateY(6px) rotate(45deg);
    }

    .show .hamburger-icon:after {
        transform: translateY(-6px) rotate(-45deg);
    }
}



/* Hero section styles */

.hero {

    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)), url('images/georgia-de-lotz-juQWcOiuuPE-unsplash.jpg');

    background-size: cover;
    background-position: center;
    color: var(--COLOR-TWO);
    text-align: center;
    padding: 100px 0;

    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 48px;
    margin: 0;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    /* background-color: var(--COLOR-FOUR);
    opacity: 0.8;  */
    padding: 10px;
    border-radius: 0.8rem;
}

@media (max-width: 768px) {
    .hero {
        height: 50vh;
    }
}

/* About section styles */

.about {
    padding: 40px;
    background-color: var(--COLOR-THREE);
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/* Main services section styles */

.services {
    background-color: var(--COLOR-FOUR);
    padding: 40px;
}

.services h2 {
    margin-top: 0;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}



.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 30%;
    background-color: var(--COLOR-FIVE);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}



@media (max-width: 768px) {
    .card {
        width: 100%;
    }
}




/* Rates section styles */

.rates {
    background-color: var(--COLOR-ONE);
    padding: 40px;
}

.rates h2 {
    margin-top: 0;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}



/* Contact section styles */
.contact {
    background-color: var(--COLOR-SIX);
    color: var(--COLOR-TEXT2);
    padding: 40px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    flex-wrap: wrap;
}

form input,
form textarea,
form button {
    align-self: flex-start;
    margin-bottom: 10px;
}

@media (max-width: 768px) {

    form input,
    form textarea,
    form button {
        width: 100%;
    }
}

/* Footer styles */
footer {
    background-color: var(--COLOR-SEVEN);
    color: #fff;
    padding: 20px;
    text-align: center;
}